.about {
    width: 80%;
    margin: auto;
    min-width: 300px;
}

.about .paragraphs {
    font-size: 18pt;
    text-align: left;
    width: 80%;
    min-width: 300px;
    margin: auto;
}

.about-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.about-intro p {
    width: 50%;
    align-self: center;
    justify-self: center;
    font-size: 18pt;
    text-align: left;
}

#about-profile-pic {
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    border-radius: 500px;
    margin: auto;
}

.about button {
    margin: 2rem auto;
}