.card-body {
  text-align: center;
  max-width: 450px;
  max-height: 300px;
  margin: 2rem auto;
  font-size: 16pt;
}

.card-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-links a {
  margin: 1rem 3rem;
  text-decoration: underline;
  padding: 1rem;
  color: black;
}

.card-links a:hover {
  background-color: rgba(144, 202, 249, 0.531);
  border-radius: 10px;
  color: rgb(128, 122, 122);
}

.image-container {
  position: relative;
  max-width: 450px;
  max-height: 300px;
  border-radius: 50px;
  margin: auto;
  overflow: hidden;
  transition: transform 0.3s;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(174, 233, 244, 0.6);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  color: black;
  font-size: 18pt;
}

.details p {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.image-container:hover .details {
  opacity: 1;
}

.details p {
  margin: 0;
}

.details a {
  text-decoration: none;
  color: #333;
}

@media only screen and (max-width: 600px) {
  .details {
    font-size: 12pt;
  }
  .card-links a {
    margin: 0 3rem;
  }
}
