.form-body {
  width: 75%;
  background-color: rgba(51, 51, 51, 0.3);
  margin: auto;
  margin-bottom: 4rem;
  border-radius: 10px;
  box-shadow: inset;
  padding: 1rem;
}

.form-fields {
  margin: 0.5rem 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 90%;
  height: 2rem;
  font-size: 14pt;
  background-color: rgba(0, 0, 0, 0.499);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  resize: none;
}

#message {
  height: 10rem;
}

#message::-webkit-scrollbar-track {
  border-radius: 10px;
}
#message::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
