.form-body {
  width: 75%;
  background-color: rgba(51, 51, 51, 0.3);
  margin: auto;
  border-radius: 10px;
  box-shadow: inset;
  padding: 1rem;
}

.form-fields {
  margin: 0.5rem 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 90%;
  height: 2rem;
  font-size: 14pt;
  background-color: rgba(0, 0, 0, 0.499);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  resize: none;
}

#message {
  height: 10rem;
}

#button {
  background-color: rgb(10, 5, 60);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16pt;
  padding: 1rem;
  transition-duration: 0.2s;
}

#button:hover {
  background-color: rgb(7, 4, 37);
  color: rgb(165, 165, 165);
}
