.deep-stuff-paragraphs {
  font-size: 18pt;
  width: 80%;
  min-width: 300px;
  margin: auto;
}

.deep-stuff-content {
  width: 70%;
  margin: auto;
  min-width: 300px;
}

.thoughts-paragraphs {
  font-size: 14pt;
}
