.modal-content {
  max-height: 80vh;
  overflow-y: auto;
  margin: 0;
}

.modal-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 50%;
  margin: auto;
}

.modal-links a {
  margin: 1rem 3rem;
  text-decoration: underline;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.modal-links a:hover {
  background-color: rgb(115, 115, 115);
  color: rgb(41, 41, 41);
  transition-duration: 0.5s;
}

.modal-images-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0.5rem auto 2rem;
  width: auto;
}

.modal-images {
  max-width: 50px;
}
