.home-main {
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-text {
  text-align: left;
  width: 50%;
}

.home-main button {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  background-color: rgb(20, 13, 99);
  margin: 0 25%;
}

.home-link {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16pt;
  margin: 0;
  text-decoration: none;
  color: white;
}

.home-description {
  margin: 0;
}

#home-text-tagline {
  font-size: 28pt;
}

#home-intro-text {
  font-size: 42pt;
}

#home-emphasis-text {
  color: gold;
  animation: colorCycle 7s infinite;
}

@keyframes colorCycle {
  0% {
    color: gold;
  }
  33% {
    color: red;
  }
  66% {
    color: blue;
  }
  100% {
    color: gold;
  }
}
