.home {
  width: 80%;
  min-width: 300px;
  margin: 2rem auto;
}

.home-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-text {
  text-align: left;
  width: 50%;
}

.home-project-link button {
  margin: 0 3rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.home-description {
  margin: 0;
}

#home-text-tagline {
  font-size: 28pt;
}

#home-intro-text {
  font-size: 42pt;
}

#home-emphasis-text {
  color: gold;
  animation: colorCycle 7s infinite;
}

#profile-pic {
  width: 70%;
  max-width: 645px;
  border-radius: 500px;
  margin: auto;
  transition-duration: 0.3s;
}

#profile-pic:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@keyframes colorCycle {
  0% {
    color: rgb(255, 132, 0);
  }
  33% {
    color: red;
  }
  66% {
    color: rgb(194, 41, 138);
  }
  100% {
    color: rgb(255, 132, 0);
  }
}

@media only screen and (max-width: 1100px) {
  .home-main {
    display: block;
  }
  .home-text {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .home-text {
    width: 90%;
  }
}
