.project-body {
  width: 70%;
  margin: 0 15%;
}

.projects-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  max-width: 600px;
  margin: auto;
  width: 70%;
  min-width: 300px;
}

.projects-header h1 {
  margin: 1rem auto;
}

.projects-header button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-self: center;
  align-self: center;
  transition-duration: 0.3s;
}

.projects-header button:hover {
  background-color: rgba(70, 70, 70, 0.531);
  color: rgb(185, 174, 174);
  cursor: pointer;
}

.projects-header button:active {
  background-color: rgba(39, 39, 39, 0.531);
  color: rgb(132, 128, 128);
}
