.terms-and-conditions {
    width: 80%;
    min-width: 300px;
    margin: 2rem auto;
}

.terms-and-conditions ul {
    width: 80%;
    min-width: 300px;
    margin: auto;
    text-align: left;
}

#tac-home-button {
    margin: 2rem auto;
}