body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #d4c396;
  color: black;
}

.white-background {
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  border-radius: 15px;
  width: 80%;
  min-width: 300px;
  max-width: 1400px;
  max-height: 75vh;
  overflow-y: auto;
}

.buttons {
  background-color: rgb(23, 14, 119);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16pt;
  padding: 1rem;
  transition-duration: 0.2s;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.buttons:hover {
  background-color: rgb(7, 4, 37);
  color: rgb(165, 165, 165);
  cursor: pointer;
}

.buttons:disabled {
  background-color: gray;
  color: rgb(165, 165, 165);
}

.legal-links {
  color: black;
}

.legal-links:hover {
  color: red;
}

.legal {
  width: 70%;
  min-width: 300px;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: scroll;
}

.legal ul {
  width: 80%;
  min-width: 300px;
  margin: auto;
  text-align: left;
}

.legal-button {
  margin: 2rem auto;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #868686;
}
::-webkit-scrollbar-thumb {
  background: #515151;
}
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}
