body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(22, 25, 33);
  color: white;
}

.buttons {
  background-color: rgb(10, 5, 60);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16pt;
  padding: 1rem;
  transition-duration: 0.2s;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.buttons:hover {
  background-color: rgb(7, 4, 37);
  color: rgb(165, 165, 165);
  cursor: pointer;
}

.legal-links {
  color: white;
}

.legal-links:hover {
  color: red;
}

.legal {
  width: 80%;
  min-width: 300px;
  margin: 2rem auto;
}

.legal ul {
  width: 80%;
  min-width: 300px;
  margin: auto;
  text-align: left;
}

.legal-button {
  margin: 2rem auto;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #868686;
}
::-webkit-scrollbar-thumb {
  background: #515151;
}
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}
