.mobile-navbar {
  background-color: black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  max-height: 36px;
  color: white;
}

.menu-icon {
  padding: 0.5rem;
}

.menu-icon:hover {
  background-color: rgba(144, 202, 249, 0.531);
  border-radius: 50px;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.menu-icon:active {
  background-color: rgba(73, 141, 197, 0.985);
  border-radius: 50px;
  padding: 0.5rem;
}

.mobile-links {
  display: flex;
  flex-direction: column;
}

.mobile-icon {
  margin-right: 5px;
}
